<a [routerLink]="['/Home']">主页</a>

<!-- <a [routerLink]="['/stock']" [queryParams]="{id:1}">股票详情</a> -->  <!--第一种传参方式-->

<a [routerLink]="['/stock',1]" >子路由</a>  <!--第二种传参方式-->

<input type="button" value="主动跳转" (click)="toStockDetail()"/>


<a [routerLink]="['/first']"  [queryParams]="{id:123}">first</a>  <!--第一种传值方式  http://localhost:4200/first?id=1-->
<a [routerLink]="['/second', 465]">second</a> <!--第二种传值方式--> 
<a [routerLink]="['/third']">third</a> <!--第三种传值方式-->

 
<!-- <a [routerLink]="[{outlets:{aux: 'chat'}}]">开始聊天</a> -->

<a [routerLink]="[{outlets:{primary: 'Home',aux: 'chat'}}]">开始聊天</a>  <!-- 主路由跳转至Home -->
<a [routerLink]="[{outlets:{aux: null}}]">结束聊天</a>

<!--路由显示区域-->
<router-outlet></router-outlet>

<!--辅助路由 显示区域-->
<hr/>

<router-outlet name="aux"></router-outlet>
